@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body#body-principal{
    background-color: gray;
}
body#body-assuntos{
    background-color: white;
}
header#cabecalho-pagina-principal{
    background-color: black;
}
header > h1#titulo-principal-pagina-principal{
    color: white;
    text-align: center;
    font-size: 27px;
    padding: 10px 0px 10px 20px;
}
main#main-principal{
    margin: auto;
    max-width: 550px;
    min-width: 280px;
    border: 1px solid gray;
    border-top: none;
    color: white;
    background-color: black;
}
main > div.caixa-de-assuntos{
    background-color: white;
    padding: 12px 0px 27px 0px;
    border: 1px solid white;
}
main > div > h1.nome-do-assunto{
    font-size: 25px;
    color: rgb(75, 75, 251);
    text-align: center;
    padding: 0px 0px 12px 0px;
}
main > div > ol > li.lista-de-assunto{
    font-family: monospace;
    text-align: center;
    font-size: 13px;
    list-style-position: inside;
    padding: 5px 0px 5px 0px;
}
main > div > ol > li > a{
    color: white;
    text-decoration: none;
}
main > div#rede-de-computadores{
    background-color: black;
}
main > div#logica-de-programacao{
    background-color: black;
}
main > div#tecnologias-web{
    background-color: black;
}
main > div#gestao{
    background-color: black;
}
main > div#informatica{
    background-color: black;
}
main > div#manutencao-de-computadores{
    background-color: black;
}
main > div#tecnologias-emergentes{
    background-color: black;
}