@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body#body-principal{
    background-color: white;
}
header#cabecalho-pagina-principal{
    background-color: gray;
}
header > h1#titulo-principal-pagina-principal{
    text-align: center;
    font-size: 37px;
    padding: 5px 0px 5px 0px;
}
main#main-principal{
    margin: auto;
    max-width: 580px;
    min-width: 300px;
    border: 1px solid black;
    border-top: none;
    background-color: white;
}
main > div.caixa-de-assuntos{
    background-color: white;
    padding: 20px;
}
main > div > h1.nome-do-assunto{
    text-align: center;
    padding: 0px 0px 10px 0px;
}
main > div > ol > li.lista-de-assunto{
    font-family: monospace;
    font-size: 24px;
    list-style-position: inside;
    padding: 5px 0px 0px 0px;
}
main > div > ol > li > a{
    color: blue;
    text-decoration: none;
}
main > div#rede-de-computadores{
    background-color: rgb(151, 151, 244);
}
main > div#logica-de-programacao{
    background-color: violet;
}
main > div#tecnologias-web{
    background-color: pink;
}
main > div#gestao{
    background-color: rgb(203, 127, 127);
}
main > div#informatica{
    background-color: rgb(235, 112, 67);
}
main > div#manutencao-de-computadores{
    background-color: yellow;
}
main > div#tecnologias-emergentes{
    background-color: rgb(90, 197, 90);
}