@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lucida Sans Unicode', Arial, Helvetica, sans-serif;
}
button/*reset*/{
    border: 0;
    
}
body#body-principal{
    background-color: #292c43;
    padding-top: 40px;
}

header{
    background-color: #2b5d68;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 1px solid #dbdbdb;
    z-index: 1;
}
header h1{
    text-align: center;
    padding: 5px 0px 5px 0px;
    text-shadow: 1px 2px 5px rgb(71, 71, 71);
    word-wrap: normal;
}
header h1 a {
    color: #dbdbdb;
}
main{
    padding: 20px;
}
main section.caixa-de-assuntos{
    max-width: 600px;
    margin: auto;
    padding: 20px 10px 30px 10px;
    margin-bottom: 10px;


    border: 1px solid #dbdbdb;
    border-radius: 10px;
    

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

}
main section  h2.nome-do-assunto{
    color: white;
    text-align: center;
    padding: 0px 0px 20px 0px;
    text-transform: uppercase;
    font-size: 20px;
}
main#principal li.lista-de-assunto{
    font-family: monospace;
    text-align: center;
    font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;
    list-style-position: inside;
    padding: 15px 0px 30px 0px;
    text-shadow: 3px 3px 4px rgb(44, 44, 44);
    color: white;
}
main#principal li > a{
    font-size: 15px;
    color: white;
    text-decoration: none;
}
main#principal button{
    width: 50px;
}
main#principal button span{
    
}
footer#rodape-principal{
    text-align: center;
    background-color: #2b5d68;
    color: white;
    padding: 10px 0px;
}

/*telas menores de 400px*/
@media screen and (max-width:400px){
    body{
        margin-top: -30px;
    }
    img{
        display: none;
    }
    *{
        font-size: 80% !important;
    }
}





/*telas menores de 200px*/
@media screen and (max-width:200px){
    body{
        margin-top: -30px;
    }
    img{
        display: none;
    }
    *{
        font-size: 80% !important;
    }
}