@charset "UTF-8";
*{
    background-color: white;
    color: black;
}
body{
    margin-top: -60px;
    margin-bottom: -20px;
}
#body-principal{
    margin-top: -80px;
    margin-bottom: -20px;
    color: black;
}
#redes-de-computadores{
    border: 1px solid #dbdbdb;
}
header{
    display: none;
}
main{
    padding: 0px 20px !important;
}
main::before{
    content: 'Trello';

    display: block;
    padding:10px 0 10px 0;

    text-align: center;
    text-transform: uppercase;

    font-size: 30px;

    color: black;
}
section.branco{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    box-shadow: none;
    margin: 0 !important;
    padding: 0 !important;
}
h1, p{
    color: black;
    text-shadow: none !important;
}
a.link{
    text-decoration : underline;
}
h1#nome-do-assunto-pagina-secundaria{
    display: none;
}
h2.topicos-pagina-secundaria{
    background-image: none;
    margin: 10px 10px;
    text-align: center;
}
aside{
    display: none;
}
div.botao{
    display: none;
}
p#teste-de-conhecimento{
    display: none;
}
img#quiz{
    display: none;
}
footer{
    display: none;
}
main::after{
    content: 'Desenvolvido por Keven';
    display: block;
    padding-bottom: 10px;
    text-align: center;
    color: black;
}