@charset "UTF-8";
body{
    margin-top: -60px;
    margin-bottom: -20px;
    color: black;
}
#body-principal{
    margin-top: -80px;
    margin-bottom: -20px;
    color: black;
}
#redes-de-computadores{
    border: 1px solid #dbdbdb;
}
header{
    position: static;
    color: black;
    border: none;
    padding-bottom: 15px;
}
header h1 {
    text-shadow: none;
}
div.branco{
    border: none;
    box-shadow: none;
}
h1, p{
    color: black;
    text-shadow: none !important;
}
h2.topicos-pagina-secundaria{
    color: white;
}
aside{
    display: none;
}
div.botao{
    display: none;
}
footer{
    display: none;
}