@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans Unicode', Arial, Helvetica, sans-serif;
}
body#body-principal{
    background-color: #292c43;
    overflow-x: hidden;
}

header#header-principal{
    background-color: #2b5d68;
    padding: 0 20px;
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    letter-spacing: 3px;
    font-size: 23px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

}
header > h1#titulo-principal-pagina-principal{
    color: rgb(214, 214, 214);
    padding: 5px 0px 5px 0px;
    text-shadow: 1px 2px 5px rgb(71, 71, 71);
    margin-left: auto;
    margin-right: auto;
}
main{
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
}
main section.caixa-de-assuntos{
    padding: 20px 10px 30px 10px;
    margin-bottom: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 20px;
    

    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    justify-content: center;


}
main section.caixa-de-assuntos.estiloum:hover{
    transform: scale(1.02, 1.03);
    transition: 400ms;
    box-shadow: 2px 2px 2px rgba(66, 66, 66, 0.526);
    border: 2px solid rgb(218, 51, 51);
}
main section.caixa-de-assuntos.estilodois:hover{
    transform: scale(1.02, 1.03);
    transition: 400ms;
    box-shadow: 2px 2px 2px rgba(66, 66, 66, 0.526);
    border: 2px solid rgb(218, 207, 51);
    
    
}
main section  div.imagem{
    max-width: 300px;
}
main section  div.imagem > img{
    width: 100%;
}
main section  h2.nome-do-assunto{
    color: white;
    text-align: center;
    padding: 0px 0px 12px 0px;
    text-transform: uppercase;
    font-size: 20px;
}/*
main#principal li.lista-de-assunto{
    font-family: monospace;
    text-align: center;
    font-size: 13px;
    font-weight: normal;
    text-transform: uppercase;
    list-style-position: inside;
    padding: 5px 0px 30px 0px;
    text-shadow: 3px 3px 4px rgb(44, 44, 44);
    color: white;
}
main#principal li > a{
    font-size: 15px;
    color: white;
    text-decoration: none;
}
main#principal li a.incompleto{
    display: none;
}*/
footer#rodape-principal{
    text-align: center;
    background-color: #2b5d68;
    color: white;
    padding: 10px 0px;
}
a{
    color: inherit;
    text-decoration: none;
}



@media screen and (min-width: 992px){
    main{
        padding: 20px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        transition: 2s;
    }
    main section.caixa-de-assuntos{
        padding: 20px 10px ;
        margin: 10px;

        width: 30vw;
        height: 95%;

        border: 1px solid #dbdbdb;
        border-radius: 20px;

        display: flex;
        flex-flow: row-reverse nowrap;
        align-items: center;
        
        justify-content: center;
    }
}






/*telas menores de 400px*/
@media screen and (max-width:400px){
    img{
        display: none;
    }
    *{
        font-size: 80% !important;
    }
}